<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <h1>My favorite movies</h1>
        <nav>
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/scifi">Sci-Fi</a></li>
                <li><a href="/action">Action</a></li>
                <li><a href="/adventure">Adventure</a></li>
                <li><a href="/new">New Movie</a></li>
            </ul>
        </nav><br />
        <p>
            Welcome to my site! On the top, you will see header links that will allow you to view my favorite movie in each
            of the categories, as well as add a new movie
        </p>
    </div>
    <% include ../partials/scripts %>
</body>

</html>