<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container-fluid">
        <h1>My favorite movies</h1>
        <nav>
            <ul class="nav nav-tabs" role="tablist">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/scifi">Sci-Fi</a></li>
                <li><a href="/action">Action</a></li>
                <li><a href="/adventure">Adventure</a></li>
                <li><a href="/new">New Movie</a></li>
            </ul>
        </nav><br />
        <% include ../partials/tablehead %>
        <div class="panel-group" id="movie">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#movie" href="#exmachina">Ex Machina</a></h4>
                </div>
                <div id="exmachina" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-2">
                                <img src="http://www.joblo.com/posters/images/full/ex-machina-poster.jpg" class="img-responsive" alt="Ex Machina cover">
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-2">
                                <p>A young programmer is selected to participate in a ground-breaking experiment in synthetic intelligence by evaluating the human qualities of a breath-taking humanoid A.I.</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-2">
                                <p>$36.9 Million</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/scripts %>
</body>

</html>