<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="container">
    <header>
        <h1 id="the-heading">Welcome!</h1>
    </header>
    <main>
        <h2>Some content</h2>
        <ul id="my-list">
            <li>Hello, my friends!</li>
            <li>My name is Phil!</li>
            <li>This a list</li>
        </ul>

    </main>
</div>

<% include ../partials/scripts %>
<script src="/assets/js/dom.js"></script>

</body>

</html>